<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Manager</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="sidebar">{% include 'sidebar.html' %}</div>
    <div class="content">{% block content %}{% endblock %}</div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Get the current contact ID from the URL
        const urlParams = new URLSearchParams(window.location.search);
        const currentContactId = urlParams.get("id");

        // Find the contact item in the sidebar and add the 'active' class
        if (currentContactId) {
          const contactItem = document.querySelector(
            `.contact-item[data-contact-id="${currentContactId}"]`
          );
          if (contactItem) {
            contactItem.classList.add("active");
          }
        }
      });
    </script>
  </body>
</html>
